{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "prettier"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "shallow": true
  },
  "rules": {
    "prettier/prettier": ["error", {
      "singleQuote": true
    }],
    "react/jsx-filename-extension": [
      1, { "extensions": [".js", ".jsx"] }
    ],
    "import/no-extraneous-dependencies": "off",
    "react/require-default-props": "off",
    "react/button-has-type": "off"
  }
}
